<footer class="footer">
    <div class="footer1">
        <img src="/IMAGES/refined_logo_without_text.jpg" alt="">
        <p>Heartbeat Multispeciality Hospital is a leading healthcare facility dedicated to providing comprehensive cardiac care and multispeciality services. With a focus on non-invasive cardiology, coronary angioplasty, diabetes management, and advanced diagnostic and pathology services, the hospital is committed to delivering exceptional care and support to its patients. 
        </p>
       
    </div>
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li> <a href="/">Home</a>
      </li>
      <li> <a href="/about_us">About</a>
      </li>
      <li> <a href="/Specialist">Specialist</a>
    </li>
     <li> <a href="/services">Services</a>
    </li>
    <li> <a href="/blogs">Blogs</a>
  </li>
    <li> <a href="/gallary">Gallery</a>
  </li>
      <li> <a href="/contact">Contact</a>
      </li>
          <li><a href="/Privacy_Policy">Privacy Policy</a></li>
          <!-- <li><a href="Accessibility.html">Accessibility</a></li>
          <li><a href="Help Center.html">Help Center</a></li>
          <li><a href="Feedback.html">Feedback</a></li> -->
      </ul>
  </div>
  
    <div class="footer-info">
        <h2>Contact Us</h2>
        <p> <a href="mailto:info@hospital.com"><i class="fas fa-envelope"></i> info@hospital.com</a></p>
        <p> <a href="tel:+1234567890"><i class="fas fa-phone"></i> +1 234 567 890 </a></p>
        <p><a href="https://www.google.com/maps/search/?api=1&query=19.1211334,74.7280789"  target="_blank" class="address-link">
          <i class="fas fa-map-marker-alt"></i> Dhumal Tower, Nagar Manmad Road, Savedi, Ahmednagar - 414003 (Near Hotel Panchsheel)
        </a></p>
    </div>
  
    <div class="footer-schedule">
        <h2>Working Hours</h2>
        <ul>
            <li><strong>Monday - Friday:</strong> 8:00 AM - 8:00 PM</li>
            <li><strong>Saturday:</strong> 9:00 AM - 5:00 PM</li>
            <li><strong>Sunday:</strong> Closed</li>
        </ul>
    </div>
  
    <div class="insurance-section">
      <div class="container text-center">
          <h2>Insurance Accepted</h2>
          <p>We accept <strong>IFFCO TOKIO General Insurance</strong> for medical treatments.</p>
          <a href="/insurance" class="insurance-btn">View Insurance Details</a>
      </div>
    </div>
    
  
  
  </footer>
  <div class="copyright">
  <p>&copy; 2025 All Rights Reserved. Designed & Developed by <strong>Jubeda Shaikh</strong></p>
  </div>
  
  
  
  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
  <script>
    AOS.init();
  </script>
    
  
  </body>
  </html>